.textFieldWithIcon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;

}

.textFieldWithIcon > *{
    width: 100%;
}

.typingArea{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.half{
    width: 50%;
}

.typingArea > *{
    display: flex;
    justify-content: center;
    align-items: center;

}


.typingArea >:first-child{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}



.emailIcon{
    background: url("./emailIcon.svg");
}

.passwordIcon{
    background: url("./key.svg");
}

.codeIcon{
    background: url("./codeIcon.svg");
}



.typingArea >:nth-child(2){
    flex: 9;
}

.typingArea >:nth-child(2) input[type="text"]{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 16px;
    padding-top: auto;
    background-color: #F4F4F4;
    border-radius: 8px;
}


.errorArea{
    padding: 2px;
    color: rgb(191, 77, 77);
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
